.contact {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 80px;
}

.contact__block {
  margin-bottom: 20px;
}

.contact__title {
  font-size: 20px;
  color: #454343;
  font-weight: 500;
}

.contact__row {
  margin-bottom: 10px;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-size: 14px;
}

.contact__row:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.contact__active {
  color: #02df02;
}

.contact__inactive {
  color: #f54e4e;
}

.contact__action-block {
  padding: 0px;
}

.contact__action {
  font-size: 20px;
  padding: 0px 7px;
}

.add-contact {
  font-size: 23px;
  color: #6189fc;
  float: right;
  padding-right: 10px;
  cursor: pointer;
}
